@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@700&family=Roboto&display=swap');

#cover{
    height: calc(100vh - 55px);
    background-color: rgb(0, 0, 0);
    color: rgb(244, 247, 250);
    margin-top: 65px;
    font-family: 'Roboto', sans-serif;   
}


#cover img{
    border-radius: 50%;
    width: 60%;
    margin: 10%;
}
span {
    color: rgb(146, 15, 15);
}

#about{
  background-color: rgb(214, 214, 214);
    /* background-image: linear-gradient(to right, rgb(187, 27, 27) , rgb(206, 134, 134)); */
    color: rgb(88, 9, 9);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    font-size: 2em;
   

}
#about img{
    border-radius: 50%;
    width: 60%;
    margin: 10%;
}

#about span {
    text-decoration: bold;
}


#projects{
    color: rgb(48, 48, 48);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    text-align: center;
    padding-top: 20px;

    
    
   
}

.section-title h1{
    margin-top: 6%;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bolder;
    
}

#contact{ 
    background-color: rgb(95, 5, 5);
    color: rgb(244, 247, 250);
    font-family: 'Roboto', sans-serif;
    height: 50vh;
    padding-top: 10px;
}
#contact img{
    width: 7%;
}


#contact i {
   font-size: 5em;
   margin: 1%;
   color: #ffffffdc;
   margin-top: 5%;
  
}

#contact i:hover {
  color: #fcfcfc;
  text-shadow: 2px 2px 4px #ffffff83;
  }


footer {
    background-color: rgb(37, 37, 37);
    color: white;
    height: 40vh;
    text-align: center;
}

#conteudo {
  padding: 5%;
}

.box-text {
       margin-top: 14%;
}




/* =============================== */

  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 0px;
    text-align: center;
    background-color: #ffffffcc;
    color:black;
    width: 70%;
    filter: grayscale(0%);
    margin-top: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s; 
    border-radius: 8px; 
  
    
  }

  .card:hover {
    box-shadow: 2px 8px 16px 3px rgba(19, 19, 18, 0.692);
    width: 100%;
    filter: grayscale(0%);
    transition-duration: 0.7s;
    margin-bottom: -50%;
    background-color: #ffffff;
    
  } 


  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  