
#cover{
    height: calc(100vh - 55px);
    background-color: rgb(15, 14, 15);
    color: rgb(244, 247, 250);
    margin-top: 65px;
    font-family: 'Roboto', sans-serif;   
}


#cover img{
    border-radius: 50%;
    width: 60%;
    margin: 10%;
}
span {
    color: rgb(219, 25, 99);
}

#about{
    background-image: linear-gradient(to right, rgb(247, 229, 195) , rgb(255, 236, 149));
    color: rgb(76, 80, 85);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    font-size: 2em;

}
#about img{
    border-radius: 50%;
    width: 60%;
    margin: 10%;
}

#about span {
    text-decoration: bold;
}


/* #projects{
    background-image: linear-gradient(to bottom right, rgb(179, 32, 179) , rgb(0, 255, 242));
    color: rgb(50, 104, 158);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

#projects img{
   width: 200px;
} */

#contact{ 
    background-color: rgb(207, 111, 55);
    color: rgb(244, 247, 250);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
#contact img{
    border-radius: 50%;
    width: 60%;
    margin: 10%;
}



footer {
    background-color: rgb(37, 37, 37);
    color: white;
    height: 40vh;
}

.box-text {
       margin-top: 14%;
}